# Core requirements
streamlit
opencv-python-headless
opencv-contrib-python
numpy
Pillow
scipy
matplotlib
imutils
pyyaml

# 3D Object Handling
PyOpenGL
pyglet

# Video overlays
imageio
imageio-ffmpeg

# Camera handling
pyserial

# Utility and debugging
tqdm
requests

# Other dependencies
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
Jinja2
jsonschema
MarkupSafe
packaging
pandas
protobuf
python-dateutil
pytz
six
smmap
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
